<!DOCTYPE html>
<html>ccccccccccccccccccccccccccccccccccccccccccccccccccccccc
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1><%= message %>!</h1>
    <iframe src="http://juliusakula.github.io/KoalasToTheMax/" width=600 height=600>
  </body>
</html>