<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <p><%= message %></p>
    
    <p>This is the login page
    
    <form method="post" action="/hello">

        <input name="user"></input>
        <input class="button" type="submit" value="Update User">
        
        <input name="pw" type="password"></input>
        <input class="button" type="submit" value="Update Password">

    </form>
  </body>
</html>